@font-face {
    font-family: molot;
    src: url(fonts/molot/Molot.otf);
}

@font-face {
    font-family: aileron;
    src: url(fonts/aileron/Aileron-Regular.otf);
}

@font-face {
    font-family: aileronbold;
    src: url(fonts/aileron/Aileron-Bold.otf);
}

@font-face {
    font-family: bebas;
    src: url(fonts/bebas-kai/BebasKai.otf);
}

@font-face {
    font-family: virgo;
    src: url(fonts/Virgo-01/virgo.ttf);
}

body {
    background-color:#C8C8C8;
    background-color:#3c3f4b ;
    font-family: montserrat, sans-serif;
    text-align: center;
    margin: auto;
    
    
}


h1{
    font-family: aileronbold, sans-serif;
    text-align: center;
    
    color: white;
    font-size: 36px;
}
h4{
    font-family: aileronbold, sans-serif;
    text-align: center;
    
    color: white;
    text-size-adjust: 20px;
}

nav{
    font-family: aileron, sans-serif;
    text-align: left;
    padding-left: 30px;
    
    
    
    
}

nav a{
    
    padding-right: 25px;
    font-size: 120%;
    text-decoration: none;
    
}
a:link {
    color:#f9a533;

}
a:visited{
    color:#f9a533;
    
}
a:hover{
    color: white;
    text-decoration: underline;
   
}
.column {
    float: left;
    width: 50%;
    text-align: center;
    

      
}

h2 {
    font-family: virgo, sans-serif;
    color:#3c3f4b ;
}

p {
    font-family: aileron, sans-serif;
    color:#3c3f4b;
    text-align: left;
    font-size: 24px;
}




img{
    margin:auto;
    
    
}


.entry {
    background-color: white;
    border-radius: 25px;
   
    margin: auto;
    border:  5px solid #f9a533;
    
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    width:85%;
    
    
}

.box {
    background-color: white;

    border-radius: 25px;
   
    margin: auto;
    border:  5px solid #f9a533;
    
    padding-bottom: 15px;
    padding-top:15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    width:85%;
    line-height: 1.5;

}


.clearbox p{
    color:white;
}


.pagetitle{
    padding-top:15px;
    padding-bottom: 25px;
}

header {
    text-align: right;
    margin-bottom: 5px;
    font-size:120%;
    padding-top: 20px;
    padding-right: 20px;
   
}
header p{
    color:white; 
    font-size: 75%; 
    text-align: right;
    font-family: virgo, sans-serif;
}


img {
    outline: 1px solid white;
    outline-offset: 10px;
    align-items: center;
    margin:auto;
    
}
.noborder{
    outline: 0px;
    padding-bottom: 0px;
}